@import url(http://fonts.googleapis.com/css?family=Gabriela);
#meni li{
    list-style: none;
    display: inline;
    background-color: #c99;
    height: 100%;
}
body{
    background-color: #a7a09a;
    padding: 0;
}
#okvir{
    width:750px;
}
#desno li{
    margin: auto;
    
}
#okvir{
    background-color: #99c;
    margin:auto;
    overflow: hidden;
    height: 100%;
}
h1{
    font-size: 42pt;
    margin:auto;
    padding-bottom: 1%;
    padding-top: 0.5%;
}
#zaglavlje{
    background-color: #ddd;
    height: 100%;
    overflow: hidden;
    font-family: "Gabriela";
    color: green;
}
#meni{
    background-color: #c99;
    height: 100%;
    overflow:hidden;
}
#glavni{
    background-color: #9c9;
    max-width: 50%;
    float: left;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
#desno{
    background-color: #c9c;
    height: 100%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}
#podnozje{
    background-color: #cc9;
    clear: both;
    height: 100%;
}
