table,tr,td,th{
    border-collapse: collapse;
}
.sivo{
    background-color: #cccccc;
    font-family: sans-serif;
    font-weight: bold;
}
.zuto{
    background-color: #FFF2CC;
    font-family: sans-serif;
}
.nigdjeveze{
    font-family: sans-serif;
}
